<% if (errors.length !== 0) { %>
    <div class="row my-3">
        <div class="col">
            <div class="alert alert-danger">
                <% errors.forEach( message => { %>
                    <%= message %><br/>
                <% }) %>
            </div>
        </div>
    </div>
<% } %>

<% if (success.length !== 0) { %>
    <div class="row my-3">
        <div class="col">
            <div class="alert alert-success">
                <% success.forEach(message => { %>
                    <%= message %><br/>
                <% }) %>
            </div>
        </div>
    </div>
<% } %>